extends tmp/main.pug

block vars
	- var current = 'case'
	- var pageclass = 'case-study'

block content

	h1 LDS Philanthropies Donations

	p.intro

	h2 Problem

	h2 Users

	h2 Constraints

	h2 Team #[span.slash /] Roles
	h3 My responsibilities

	h2 Guiding Principles

	h2 Process

	h2 A few of my favorite things

	h2 Success measures

	h2 Takeaways
