extends tmp/main.pug


block vars
	- var current = 'none'
	- var pageclass = 'home'

block content
	a.project(href='/learning-suite.html')
		h1 Learning Suite LMS
		ul.skills
			li UX
			li UI
			li Design systems
			li HTML / CSS / JS
		p.desc Enables professors and students at Brigham Young University to interact effectively through online tools associated with each course.

	a.project(href="/ldsp-donate.html")
		h1 LDS Philanthropies Donations
		ul.skills
			li UX
			li UI
			li Animation
			li Analytics
			li Mobile design
			li HTML / CSS / JS

	a.project(href="/sacred-gifts.html")
		h1 Sacred Gifts Exhibition App
		ul.skills
			li UI
			li Design systems
			li IOS

	a.project(href="/loving-devotion.html")
		h1 Loving Devotion Exhibition App
		ul.skills
			li UI
			li Design systems
			li IOS

	a.project(href="/byu-web.html")
		h1 University Web Design System
		ul.skills
			li Research
			li UX
			li Design Systems
			li HTML / CSS / JS
			li Mobile design
			li Collaboration

	a.project(href="/thesis.html")
		h1 Connections Exhibition
		ul.skills
			li Research
			li Craft
			li Exhibition design

	a.project(href="/ldsp-site.html")
		h1 LDS Philanthropies Web
		ul.skills
			li Research
			li Performance
			li Analytics
			li Multivariate testing
			li HTML / CSS / JS

	a.info(href="print.html")
		h1 Letterpress #[span.slash /] Print

	a.info(href="philosophy.html")
		h1 Philosophy #[span.slash /] Process

