extends tmp/main.pug

block vars
	- var current = 'case'
	- var pageclass = 'case-study'

block content

	ol
		li Less, but better
			ul
				li Design each page from the core out
				li Remove or hide all non-essentials
				li Define good defaults (don't add preferences)

		li Enable relationships
			ul
				li Communication between instructor and student
				li Student to student
				li Instructor to instructor

		li All surprises should be pleasant

		li Every millisecond counts
			ul
				li Treat users' time as sacred
				li Even small performance gains are worthwhile
				li Streamline data entry and other tasks
				li Don't make users do things twice

		li "Functional" is not "finished"
			ul
				li An unfinished feature might be worse than no feature at all
				li The last 10% makes a huge difference
				li Polish breeds trust

		li Start up with style, fail with grace
			ul
				li There are three states to every screen: blank, normal, and fail
				li The initial screen (with no data) is the first impression
				li Don't abandon users in their moment of need
