extends tmp/main.pug

block vars
	- var current = 'case'
	- var pageclass = 'case-study'

block content

	h1 Sacred Gifts Exhibition App

	p.intro d

	section.top
		h2 Problem

		p hi

	section.top
		h2 Users

	section.top
		h2 Constraints

	section.top
		h2 Team #[span.slash /] Roles
		h3 My responsibilities

	section.top
		h2 Guiding Principles

	section.top
		h2 Process

	section.top
		h2 A few of my favorite things

	section.top
		h2 Success measures

	section.top
		h2 Takeaways