extends tmp/main.pug

block vars
	- var current = 'case'
	- var pageclass = 'case-study'

block content

	h1 Connections Exhibition

	p.intro Educate artists and library patrons about the collaborations that produced some of the world's most beautiful books. 
	p This was my Master&rsquo;s thesis project. I completed an MFA in graphic design at Indiana University in 2006. I spent a semester in the Lilly Special Collections Library at Indiana University studying print history and fine presses.
	+image('thesis_brochure.jpg', 'Connections: An exhibition of collaborative design (brochure)', true)

	section.top
		h2 Problem
		p I wanted to help exhibition visitors understand and appreciate some of the beautiful books in the collection, which contains many that are among the most famous and rare in the world.

	section.top
		h2 Audience
		p Invitations were sent to the library&rsquo;s supporters and normal mailing list for exhibitions. Faculty and students from the School of Fine Arts were also invited. It was a public exhibition, but patrons tended to be quite educated, and disposed to be book lovers.

		+image('thesis_cards.jpg', 'Invitation cards', true)

	section.top
		h2 Constraints
		p I had one room with two walls containing glass cases. Books can be difficult to display effectively, since only a small fraction can ever be visible at one time.
		+image('thesis_doves.jpg', 'The <em>Doves Press Bible</em> and Eric Gill&rsquo;s <em>Four Gospels</em>', true)

	section.top
		h2 Team #[span.slash /] Roles
		p I was solely responsible for all of the research, planning, design, and execution of the exhibition.

	section.top
		h2 Guiding Principles
		p I wanted to go beyond the standard library exhibition, which consisted of an open book with a small identifying caption and perhaps a description.
		+image-full('thesis_brochure_flat.png', 'Thesis brochure', false)

	section.top
		h2 Process
		p 

	section.top
		h2 A few of my favorite things

		section.sub
			h3 Hands-on elements and audio narration
			p 
			+image-full('thesis_cases.jpg', 'Display cases and interactive elements', true)

		section.sub
			h3 The beautiful, beautiful books
			p This is my favorite case of the bunch. 
			+image('thesis_society.jpg', '"Maya Angelou&rsquo;s <em>Music, Deep Rivers in my Soul</em> and Bruce Rogers&rsquo; title page <em>Fra Luca De Pacioli of Borgo S. Sepulcro</em>', true)

	section.top
		h2 Success measures

	section.top
		h2 Takeaways